GettingStartedClient/GettingStartedClient/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GettingStartedLib.Class" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GettingStartedLib.Class" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_activate" type="xs:int" />
      <xs:element minOccurs="0" name="is_admin" type="xs:int" />
      <xs:element minOccurs="0" name="last_login" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
</xs:schema>